body {
    background-color: lightgray;
    color: black;
    font-family: "Times New Roman", serif;
    text-align: center;
}

h1 {
    color: navy;
}

button {
    padding: 16px 32px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-radius: 8px;
    box-shadow: 4px 8px 2px darkgray;
    min-width: 150px;
}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 2em;
}

.text {
    margin-bottom: 1em;
    font-size: large;
}

.scores {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 1em;
}

.output {
    min-width: 150px;
    border-radius: 8px;
    box-shadow: 4px 8px 2px darkgray;
    padding: 16px 32px;
    border-style: solid;
}

.score {    
    background-color: navy;    
    color: white;    
    border-color: white;
}

.final {    
    background-color: white;
    color: navy;
    border-color: navy;
}

.red {
    background-color: red;
    border-color: white;
    color: white;
}

.green {
    background-color: green;
    border-color: white;
    color: white;
}